.product-card{
    /* width: 50%; */
    margin:15px
}
.product-details{
    margin-bottom: 15px;
}
/* .category{
    text-align: center;
} */
/* .cart-wrapper{
    margin: auto;
} */
/* .cart-div{
    width: 30%;
    margin: auto;
} */
.bill{
    padding:15px;
}
.bill>h2{
    padding-top:4px ;
    padding-bottom: 4px;
    background-color: rgb(194, 73, 73);
    color: white;
    text-align: center;
    font-size: 24px;
}
.bill > span{
   line-height: 3;
   font-size: 16px;
   font-weight: bold;
}